
/* height */
$h: 1rem;
/* width */
$w: $h * 3;
/* toggle dimensions */
$tw: $h * 1.2;
/* font size */
$fs: 1rem;
/* toggle's border thickness */
$bt: 0.1rem;
/* toggle box shadow */
$bs: $bt * 2;
/* labels animation time */
$ta: 6s;
/* label text color */
$text-color: white;

/* colors: si, ?, no*/
$colors: #00cc00, #4d4dff, #808080;

@mixin borderColor($i) {
  border: 0 solid nth($colors, $i);
  background: lighten(nth($colors, $i), 10%);
}

@mixin animationDelay($time) {
  -webkit-animation-delay: $time;
  -o-animation-delay: $time;
  -moz-animation-delay: $time;
  animation-delay: $time;
}

@mixin animation($time) {
  -webkit-animation: $time rot-label ease-in-out infinite;
  -moz-animation: $time rot-label ease-in-out infinite;
  -o-animation: $time rot-label ease-in-out infinite;
  animation: $time rot-label ease-in-out infinite;
}

.wrapper {
  width: $w+1;
  height: 8*$h/10;
  position: relative;
  margin: 2rem auto;
  border-radius: $h/2;
  background: gray;

  & .toggle {
    width: $tw;
    height: $tw;
    position: absolute;
    left: $w / 3 - ($tw - $h) / 2 + 1/2;
    top: -($tw - $h);
    border-radius: 60%;
    box-sizing: border-box;
    @include borderColor(2);

    transition:
            all .3s cubic-bezier(
                            0.175, 0.885, 0.320, 1.275
            );
  }

  & label {
    cursor: pointer;
    width: $h;
    height: $h;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;
    display: inline-block;
  }

  & input {
    float:left;
    clear:none;
    margin:-3px;
    cursor: pointer;
    opacity: 0;
  }
}

.yes_radio:checked {
  background: red;

  ~ .toggle {
    @include borderColor(1);
    left: $w * 2 / 3 - ($tw - $h) / 2 + 1;
  }
}

.no_radio:checked {
  background: red;

  ~ .toggle {
    @include borderColor(3);
    left: -($tw - $h) / 2;
  }
}

.maybe_radio {
  left: 100% * 1 / 3;
}

.yes_radio {
  left: 100% * 2 / 3;
}

@mixin keyframes($name) {
  @-webkit-keyframes $name { @content };
  @-o-keyframes $name { @content };
  @-moz-keyframes $name { @content };
  @keyframes $name { @content };
}

@include keyframes(rot-label) {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(-400deg); }
  18% { transform: rotate(-340deg); }
  20% { transform: rotate(-360deg); }
  30% { transform: rotate(-360deg); }
  100% { transform: rotate(-360deg); }
}