<div id="cdivform" class="panel">
    <div class="panel-heading">
        <div class="right" id="close_form">
            <button type="button" class="btn-remove"><i class="fa fa-window-close" data-button-action="n"></i></button>
        </div>
    </div>

    <div class="panel-body">
        <form method="post" action="{{ path('rights_new') }}" id="formData" data-smk-icon="glyphicon-remove-sign">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label for="profile_name">Nom</label>
                        <input type="text" class="form-control" name="nom" placeholder="Nom du profile">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label for="profile_code">Code profile</label>
                        <input type="text" class="form-control" name="profile" placeholder="codeDuProfile">
                    </div>
                </div>
            </div>

            <div class="pull-right">
                <button type="submit" class="btn btn-primary" id="btnSave"><i></i> Enregistrer</button>
            </div>
        </form>
    </div>
</div>

<script>
    $('#close_form').click(function () {
        $('#cdivform').fadeOut(300);
    });

    $('#btnSave').click(function () {
        if ($('#formData').smkValidate()) {
            var route = $('#formData').attr("action");
            saveData(route, '#formData', '#btnSave i', '{{ path('rights_list') }}');
        }
        return false;
    });
</script>