<div class="row form-group">
    <div class="col-md-12 btn-ajouter">
        <button type="button" class="btn btn-primary btn-md pull-right init_form"
                data-url-action="{{ path('rights_form') }}">Ajouter
        </button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            {% for zone in securityZones %}
                <th class="text-center">{{ zone.value }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for profile, rightsZones in rights if profile != 'superAdmin' %}
            {% set cptr = loop.index0 + 1 %}
            <tr>
                <td>
                    {{ profiles[profile] }}
                </td>
                {% for right in rightsZones %}
                    <td class="text-center" id="{{ profile }}">
                        <div class="wrapper" id="{{ right.zone }}">
                            <input type="radio" value="{{ right.level }}" name="{{ right.zone }}_{{ cptr }}" class="no_radio" >
                            <input type="radio" value="{{ right.level }}" name="{{ right.zone }}_{{ cptr }}" class="maybe_radio" >
                            <input type="radio" value="{{ right.level }}" name="{{ right.zone }}_{{ cptr }}" class="yes_radio" >

                            <div class="toggle"></div>
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="col-md-12" id="legendRights">
    <h5 class="display-1">Légende :</h5>
    <ul>
        <li class="pinNA">
            <span class="text-muted small">Aucun droit</span>
        </li>
        <li class="pinRO">
            <span class="text-muted small">Droit de lecture uniquement</span>
        </li>
        <li class="pinRW">
            <span class="text-muted small">Droit de lecture/écriture</span>
        </li>
    </ul>
</div>

<script>
    $(".init_form").click(function (ev) {
        var route = $(ev.target).attr("data-url-action");
        loadForm(route);
    });

    $('#table_id').on('click', '.btnEdit', function (ev) {
        var route = $(ev.target).attr("href");
        loadForm(route);
        return false;
    });

    $(document).ready(function () {
        $("input:radio").each(function () {
            var valRight = parseInt($(this).attr('value'));
            if( valRight === 0) {
                $(this).closest('.wrapper').find('.no_radio').prop('checked', true);
            }
            if( valRight === 1) {
                $(this).closest('.wrapper').find('.maybe_radio').prop('checked', true);
            }
            if( valRight === 2) {
                $(this).closest('.wrapper').find('.yes_radio').prop('checked', true);
            }
        });

        $(".no_radio").each(function () {
            $(this).click(function () {
                var profile = $(this).closest('td').attr('id');
                var zone = $(this).closest('div').attr('id');
                var level = 0;
                updateRight(profile, zone, level);
            })
        });
        $(".maybe_radio").each(function () {
            $(this).click(function () {
                var profile = $(this).closest('td').attr('id');
                var zone = $(this).closest('div').attr('id');
                var level = 1;
                updateRight(profile, zone, level);
            })
        });
        $(".yes_radio").each(function () {
            $(this).click(function () {
                var profile = $(this).closest('td').attr('id');
                var zone = $(this).closest('div').attr('id');
                var level = 2;
                updateRight(profile, zone, level);
            })
        });

        function updateRight(profile, zone, level) {
            $.ajax({
                url: "{{ path('rights_update') }}",
                type: "POST",
                data: {
                    profile: profile,
                    zone: zone,
                    level: level
                },
                success: function(data){
                    alertMessage('#divalert', 'alert-success', 'Success');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alertMessage('#divalert', 'alert-danger', XMLHttpRequest.responseText);
                },
            });
        }
    })
</script>