{% extends 'base.html.twig' %}

{% block bcontent_breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Gestion des droits d'accès</li>
        </ol>
    </nav>
{% endblock %}

{% block bcontent_body %}
    <div id="divlistcontainer" class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Zone 1</th>
                    <th>Zone 2</th>
                    <th>Zone 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>r</td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>

    <div id="divformcontainer" class="col-md-12"></div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            loadListItems('{{ path('rights_list') }}');
        });
    </script>
{% endblock %}