{% extends 'base.html.twig' %}

{% block title %}Your account has been blocked{% endblock %}

{% block body %}
    <p>
        You are receiving this email because your account has been blocked by our team. &#x1F928; <br>
        {#The reason is : {{ params.reason }}.#}
    </p>
    <p>
        If you think this is a mistake, please contact us for fixing.
    </p>
{% endblock %}