{% extends 'base.html.twig' %}

{% block title %}Reset your password.{% endblock %}

{% block body %}
    <h5>Hello {{ params.name }},</h5>
    <p>
        Please click the following link to reset your password. <br>
    </p>
    <p>
        <a href="{{ params.protocol ~ params.link }}" target="_blank">{{ params.protocol ~ params.link }}</a>
    </p>
    <p>
        <b>This link will not be available after 15 minutes.</b>
    </p>
{% endblock %}