{% extends 'base.html.twig' %}

{% block title %}Your account has been unblocked{% endblock %}

{% block body %}
    <p>
        Your account have been unblocked. &#x1F607;
    </p>
    <p>
        Thank you.
    </p>
{% endblock %}