{% extends 'base.html.twig' %}

{% block title %}You resigned{% endblock %}

{% block body %}
    <p>
        You are receiving this email because you closed your account on our web site. &#x1F610;
    </p>
    <p>
        If you think this is a mistake, please contact us for fixing.
    </p>
{% endblock %}