{% extends 'base.html.twig' %}

{% block title %}Welcome !{% endblock %}

{% block body %}
    <p>
        Hello {{ params.name }}! Your account has just been created on our web site. We thank you :)
    </p>
    <p>
        Just one more and last step: confirm your registration through the following link :<br><br>
        <a href="{{ params.protocol ~ params.link }}" target="_blank">{{ params.protocol ~ params.link }}</a> <br><br>
        <b>Please note that you only have 24h to confirm.</b>
    </p>
{% endblock %}