{% extends 'base.html.twig' %}

{% block body %}
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid text-center">
                {% if message is defined %}
                    <p class="text-danger">Error : {{ message }}</p>
                {% else %}
                    <p class="lead">
                        Bienvenue ! Bravo, votre compte a été activée.
                    </p>
                    <p class="text-muted">
                        You can now <a href="{{ path('home') }}" class="card-link">log in</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block basejs %}
{% endblock %}