<div id="cdivform" class="panel">
    <div class="panel-heading">
        <div class="right" id="close_form">
            <button type="button" class="btn-remove"><i class="fa fa-window-close" data-button-action="n"></i></button>
        </div>
    </div>

    <div class="panel-body">
        {{ form_start(oForm, {'action': path('users_save', {'id': id}), 'attr' : {'id':'formData', 'data-smk-icon':'glyphicon-remove-sign' }, 'method': 'POST'}) }}
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="school_nom">Nom</label>
                    {{ form_widget(oForm.nom) }}
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="school_nom">Prenom</label>
                    {{ form_widget(oForm.prenom) }}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="school_ville">Ville</label>
                    {{ form_widget(oForm.ville) }}
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="school_telephone">Numéro de téléphone</label>
                    {{ form_widget(oForm.telephone) }}
                </div>
            </div>
        </div>

        <div id="form-row">
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="school_mail">Adresse électronique (email)</label>
                    {{ form_widget(oForm.email) }}
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="form-group">
                    <label for="user_roles">Rôles</label>
                    {% if id is defined and id is not null %}
                        {{ form_widget(oForm.profile, { 'value' : oForm.vars.data.profile }) }}
                    {% else %}
                        {{ form_widget(oForm.profile) }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="form-row">
            <div class="form-group col-md-2 col-lg-offset-1">
                <label class="fancy-checkbox">
                    {% if id is defined and id is not null and oForm.vars.value.active is same as(true) %}
                        {% set attrActive = {'attr': {'checked':'checked'}} %}
                    {% else %}
                        {% set attrActive = {} %}
                    {% endif %}

                    {{ form_widget(oForm.active, attrActive) }}
                    <span>
                            Compte actif ?
                        </span>
                </label>
            </div>
            <div class="form-group col-md-2">
                <label class="fancy-checkbox">
                    {% if id is defined and id is not null and oForm.vars.value.blocked is same as(true) %}
                        {% set attrBlocked = {'attr': {'checked':'checked'}} %}
                    {% else %}
                        {% set attrBlocked = {} %}
                    {% endif %}

                    {{ form_widget(oForm.blocked, attrBlocked) }}
                    <span>
                            Compte bloqué ?
                        </span>
                </label>
            </div>
        </div>
        <div class="pull-right">
            <button type="submit" class="btn btn-primary" id="btnSave"><i></i> Enregistrer</button>
        </div>
        {{ form_end(oForm) }}
    </div>
</div>

<script>
    $('#close_form').click(function () {
        $('#cdivform').fadeOut(300);
    });

    $('#btnSave').click(function () {
        if ($('#formData').smkValidate()) {
            var route = $('#formData').attr("action");
            saveData(route, '#formData', '#btnSave i', '{{ path('users_list') }}');
            //$('#btnSave i').addClass('fa fa-spinner fa-spin');
        }
        return false;
    });
</script>