<div class="row form-group">
    <div class="col-md-12 btn-ajouter">
        <button type="button" class="btn btn-primary btn-md pull-right init_form"
                data-url-action="{{ path('users_form') }}">Ajouter
        </button>
    </div>
</div>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Comptes</th>
        </tr>
    </thead>
    <tbody>
        {% for item in list %}
            <tr>
                <td>
                    <a href="{{ path('users_form', {'id': item.id}) }}" class="text-primary btnEdit"> {{ item.nom }} {{ item.prenom }} </a>

                    <span class="pull-right">
                        {% if item.blocked is same as(true) %}
                            <i class="fa fa-lock text-danger" title="Compte bloqué"></i>
                        {# {% else %}
                            <i class="fa fa-user text-success" title="Compte autorisé"></i> #}
                        {% endif %}

                        {% if item.active is same as(true) %}
                            <i class="fa fa-check text-success" title="Compte actif"></i>
                        {% else %}
                            <i class="fa fa-times-circle text-danger" title="Compte inactif"></i>
                        {% endif %}
                    </span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $('#table_id').DataTable({
        "lengthMenu": [[5, 10, 20, 50, -1], [5, 10, 20, 50, "All"]]
    });

    $(".init_form").click(function (ev) {
        var route = $(ev.target).attr("data-url-action");
        loadForm(route);
    });

    $('#table_id').on('click', '.btnEdit', function (ev) {
        var route = $(ev.target).attr("href");
        loadForm(route);
        return false;
    })
</script>