{% extends 'base.html.twig' %}

{% block bcontent_breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('users') }}">Utilisateurs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mot de passe</li>
        </ol>
    </nav>
{% endblock %}

{% block bcontent_body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Changer le mot de passe</h3>
        </div>
        <div class="panel-body">
            {{ form_start(oForm, {'action': path('user_password'), 'attr' : {'id':'formData', 'data-smk-icon':'glyphicon-remove-sign' }, 'method': 'POST'}) }}
            {{ form_errors(oForm) }}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="form-group">
                        <label for="school_nom">Mot de passe actuel</label>
                        {{ form_widget(oForm.current_password) }}
                    </div>
                </div>
            </div>

            <div id="form-row">
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label for="user_password_first">Nouveau mot de passe</label>
                        {{ form_widget(oForm.password.first) }}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-group">
                        <label for="user_password_second">Repétez le mot de passe</label>
                        {{ form_widget(oForm.password.second) }}
                    </div>
                </div>
            </div>

            <div class="pull-right">
                <button type="submit" class="btn btn-primary" id="btnSave"><i></i> Enregistrer</button>
            </div>
            {{ form_end(oForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready( function () {
        $('#btnSave').click(function() {
            var route = $('#formData').attr("action");
            saveData(route, '#formData', '#btnSave i', '{{ path('users_list') }}');
            return false;
        });
    });
</script>
{% endblock %}