{% extends 'base.html.twig' %}
{% block body %}
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid text-center">
                <form action="{{ path('users_reset_password') }}" id="formData" data-smk-icon="glyphicon-remove-sign">
                    <div class="text-center alert-danger" id="error_div"></div>
                    <div id="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="user_password_first">Nouveau mot de passe</label>
                                <input type="password" name="password_first" id="user_password_first" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="form-group">
                                <label for="user_password_second">Repétez le mot de passe</label>
                                <input type="password" name="password_second" id="user_password_second" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="email" value="{{ email }}">
                    <input type="hidden" name="token" value="{{ token }}">

                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary" id="btnSave"><i class="spinnerClass"></i> Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready( function () {
        $('#btnSave').click(function() {
            var route = $('#formData').attr("action");
            $.ajax({
                type: "POST",
                url: route,
                data: $('#formData').serialize(),
                beforeSend: function(){
                    $('.spinnerClass').addClass('fa fa-spinner fa-spin');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#error_div').text(XMLHttpRequest.responseText);
                    $('.spinnerClass').removeClass('fa fa-spinner fa-spin');
                },
                success: function (data) {
                    window.location.replace('{{ path('home') }}')
                }
            });
            return false;
        });
    });
</script>
{% endblock %}