<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
    <!-- ALERT BOX-->
    <div id="divalert">
    </div>
    <!-- END ALERT BOX -->

    <div class="brand">
        <a href="{{ path('home') }}"><img src="{{ asset("build/images/.png") }}" alt="School Vision Banner" class="img-responsive logo"></a>
    </div>
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
        </div>
        <div id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                        <i class="lnr lnr-alarm"></i>
                        <span class="badge bg-danger"></span>
                    </a>
                    <ul class="dropdown-menu notifications">
                        <li><a href="#" class="notification-item"><span class="dot bg-warning"></span></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Basic Use</a></li>
                        <li><a href="#">Working With Data</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Troubleshooting</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ asset("build/images/user.png") }}" class="img-circle" alt="Avatar"> <span>{{ app.user.email }}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('user_password') }}"><i class="lnr lnr-user"></i> <span>Mot de passe</span></a></li>
                        <li><a href="{{ path('logout') }}"><i class="lnr lnr-exit"></i> <span>Déconnexion</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END NAVBAR -->


<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li>
                    <a href="#subSetting" data-toggle="collapse" class="collapsed"><i class="lnr lnr-cog"></i> <span>Paramètres</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subSetting" class="collapse ">
                        <ul class="nav">
                            <li><a href="{{ path('users') }}" class="">Utilisateurs</a></li>
                            <li><a href="{{ path('rights') }}" class="">Gestion des droits d'accès</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
