{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <div class="auth-box ">
                    <div class="left">
                        <div class="content">
                            <div class="header">
                                <div class="logo text-center"><img src="{{ asset("build/images/favicon.png") }}" alt="SchoolVisor Logo"></div>
                                <p class="lead">Login to your account</p>
                            </div>
                            <form class="form-auth-small" method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <div class="form-group">
                                    <label for="inputEmail" class="control-label sr-only">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="control-label sr-only">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                </div>

                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >

                                <div class="form-group clearfix">
                                    <label class="fancy-checkbox element-left">
                                        <input type="checkbox" name="_remember_me">
                                        <span>Remember me</span>
                                    </label>
                                </div>

                                <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                                <div class="bottom">
                                    <span class="helper-text text-info show_recover_form" style="cursor: pointer;"><i class="fa fa-lock"></i> Forgot password?</span>
                                </div>
                            </form>

                            <br>
                            {# form to recover password #}
                            <form action="{{ path('users_recover_password') }}" method="post" class="form-inline" id="form_recover" style="display: none" >
                                <div class="text-center" id="response_recover"></div>
                                <div class="form-group">
                                    <div class="form-group mx-sm-3 mb-2">
                                        <input type="text" class="form-control" id="email" placeholder="Your email address"
                                               name="email" aria-label="Email" required autocomplete="off" aria-describedby="basic-addon1">
                                    </div>
                                    <button type="submit" class="btn btn-primary mb-2 recover-button"><i class="spinnerClass"></i> Envoyer</button>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="right">
                        <div class="overlay"></div>
                        <div class="content text">
                            <h1 class="heading">School Vision</h1>
                            <p>v0.2.0</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
{% endblock %}

{% block javascripts %}
    <script>
        $('#inputPassword').smkShowPass();

        $('.show_recover_form').click(function () {
            $('#form_recover').toggle();
        });

        $('.recover-button').click(function () {
            $.ajax({
                type: "POST",
                url: '{{ path('users_recover_password') }}',
                data: $('#form_recover').serialize(),
                dataType: 'html',
                beforeSend: function(){
                    $('.spinnerClass').addClass('fa fa-spinner fa-spin');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#response_recover').html(XMLHttpRequest.responseText);
                },
                success: function (data) {
                    $('#response_recover').html('<div class="alert alert-success alert-dismissible fade show" role="alert"> <strong>Un mail devrait être envoyé à cette adresse. Veuillez le consulter et suivre les étapes indiquées</strong> <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>');
                },
                complete: function () {
                    $('.spinnerClass').removeClass('fa fa-spinner fa-spin');
                }
            })
            return false;
        })

    </script>
{% endblock %}
