{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block stylesheets %}
    <style>
        body {
            width: 100%;
            margin: auto;
        }
        #container {
            width: 100%;
            margin: auto;
        }
        .separator {
            height: 20px;
            display: block;
        }

        #event-details {
            font-size: 16px;
            margin-bottom: 20px;
            border-bottom: 2px solid lightgray;
            padding-bottom: 30px;
        }
        #event-details tr td {
            padding: 10px;
            margin-bottom: 10px;
        }
        #event-details .label {
            margin-right: 10px;
            font-weight: bold;
        }
        #event-details .value {
            font-style: italic;
        }
        div.align-container div {
            display: inline-block;
            width: 45%;
            margin: auto;
            vertical-align: top;
        }


        table.styled-table {
            width: 100%;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            font-family: "DejaVu Sans", sans-serif;
        }
        .table-header {
            font-family: "DejaVu Sans", sans-serif;
            font-size: 1em;
            text-decoration: underline;
        }
        .styled-table thead tr {
            font-size: 13px
        }
        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
            text-align: left;
        }
        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }
        .styled-table .order {
            font-weight: bold;
        }

        .speaker-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
        .speaker-table tbody tr:nth-of-type(even) {
            background-color: #f8f6ff;
        }
        .speaker-table  thead tr {
            background-color: #6c7ae0;
            color: #ffffff;
        }

        .attendant-table thead tr {
            background-color: #fa4251;
            color: #ffffff;
        }
        .attendant-table tbody tr:nth-of-type(even) {
            background-color: rgba(250, 66, 81, 0.2);
        }
        .attendant-table tbody tr:last-of-type {
            border-bottom: 2px solid #fa4251;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="container">
        <div id="event-details">
            <table>
                <tbody>
                <tr class="entry">
                    <td>
                        <span class="label">Titre :</span>
                        <span class="value">{{ title }}</span>
                    </td>
                </tr>
                <tr class="entry">
                    <td>
                        <span class="label">Adresse :</span>
                        <span class="value">{{ address }}</span>
                    </td>
                </tr>
                <tr class="entry">
                    <td>
                        <span class="label">Date :</span>
                        <span class="value">{{ startDate }} | {{ endDate }}</span>
                    </td>
                    <td>
                        <span class="label">PAF :</span>
                        <span class="value">{{ paf }} €</span>
                    </td>
                </tr>
                <tr class="entry">
                    <td>
                        <span class="label">Nombre d'intervenants :</span>
                        <span class="value">{{ nbSpeaker }}</span>
                    </td>
                    <td>
                        <span class="label">Nombre de participants :</span>
                        <span class="value">{{ nbAttendee }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="separator"></div>

        <div id="speakers-list">
            <div class="table-header">Liste des intervenants</div>

            <table class="styled-table speaker-table">
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom complet</th>
                    <th>Téléphone</th>
                    <th>Adresse mail</th>
                </tr>
                </thead>
                <tbody>
                    {% for key, speaker in speakers %}
                        <tr>
                            <td class="order {% if key is even %} active-row {% endif %}">{{ key + 1 }}</td>
                            <td>{{ speaker.name }}</td>
                            <td>{{ speaker.phone }}</td>
                            <td>{{ speaker.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="separator"></div>

        <div id="attendants-list">
            <div class="table-header">Liste des participants</div>

            <table class="styled-table attendant-table">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nom complet</th>
                        <th>Téléphone</th>
                        <th>Adresse mail</th>
                        <th>Mode de paiement</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, attendee in attendees %}
                    <tr>
                        <td class="order {% if key is even %} active-row {% endif %}">{{ key + 1 }}</td>
                        <td>{{ attendee.name }}</td>
                        <td>{{ attendee.phone }}</td>
                        <td>{{ attendee.email }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}